</main>
<footer>
    <!-- <ul class="footer-list">
        <li class="Name-footer-list">SOCIAL</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>YouTube</li>
    </ul>

    <ul class="footer-list">
        <li class="Name-footer-list">MENU</li>
        <li>Voor Mini</li>
        <li>Vini Mini Producten</li>
        <li>Over ons</li>
        <li>Nieuws</li>
        <li>Contact</li>
        <li>Zoeken</li>
    </ul>

    <ul class="footer-list">
        <li class="Name-footer-list">INFO & HELP</li>
        <li>Algemene voorwaarden</li>
        <li>Privacy voorwaarden</li>
        <li>Veelgestelde vragen</li>
    </ul> -->
    <p><span>&copy;</span> 2023. Alle rechten voorbehouden. Vinimini</p>
</footer>

</body>
</html>