<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

  <title>Vini Mini</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/script.js" defer></script>
</head>
<body>
<nav>
    <ul>
        <li><a href="/"><img class="vini-mini-logo" src="/Vini-Mini-Logo.webp" alt="Vini-Mini-Logo"></a></li>
        <li>
          <a class="menu-button" href="#">
            <img class="menu-icon" src="/menu.svg" alt="menu">
            <span>Menu</span>
          </a>

          <!-- overlay content test -->
          <div class="overlay-content">
            <div class="click-away-menu">+</div>
            <div class="menu-link-container">
              <a href="#">Voor Mini</a>
              <a href="#">Vini Mini Producten</a>
              <a href="#">Over Ons</a>
              <a href="#">Nieuws</a>
              <a href="#">Contact</a>
              <a href="#">Zoeken</a>
            </div>
          </div>
        </li>
    </ul>
</nav>
<main>